@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(127, 200, 248);
  background: linear-gradient(
    90deg,
    rgb(0, 153, 254) 0%,
    rgb(38, 166, 251) 100%
  );
}

h1 {
  font-family: 'Baloo 2', sans-serif;
}
